<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmangutov.foodtime" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:name="com.kmangutov.foodtime.GlobalClass"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kmangutov.foodtime.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kmangutov.foodtime.RegisterActivity"
            android:parentActivityName="com.kmangutov.foodtime.MainActivity" />
        <activity
            android:name="com.kmangutov.foodtime.SchedulingActivity"
            android:parentActivityName="com.kmangutov.foodtime.HomeActivity" />
        <activity
            android:name="com.kmangutov.foodtime.FriendActivity"
            android:parentActivityName="com.kmangutov.foodtime.HomeActivity" />
        <activity android:name="com.kmangutov.foodtime.FriendAddActivity" />
        <activity android:name="com.kmangutov.foodtime.HomeActivity" />
        <activity
            android:name="com.kmangutov.foodtime.ScheduleEventActivity"
            android:label="FoodTime:Schedule Meetup"
            android:parentActivityName="com.kmangutov.foodtime.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kmangutov.foodtime.MainActivity" />
        </activity>
        <activity
            android:name="com.kmangutov.foodtime.AcceptedEventViewActivity"
            android:label="@string/title_activity_accepted_event_view" >
        </activity>
        <activity
            android:name="com.kmangutov.foodtime.DummyEventActivity"
            android:label="@string/title_activity_dummy_event" >
        </activity>
    </application>

</manifest>
